VITE_SUPABASE_URL=https://dccrxgyfedkhnfnpmktd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRjY3J4Z3lmZWRraG5mbnBta3RkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4Mjc3MTMsImV4cCI6MjA5NDQwMzcxM30.IuXfbGRjJFoMu6GsPY2xmthw6q1ZCepBdiFb23DPW3Y
